/* Existing Styles */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url('./fonts/PPMori-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel.dark {
  position: relative; /* Ensures correct layering of elements */
  z-index: 1;         /* Controls the stacking order */
}

.stylized-image {
  position: relative; /* Prevents image overlap */
  z-index: 0;         /* Places image below other elements if necessary */
}


.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* Center the gallery */
  margin-top: 20px;
}

.video-item {
  flex: 1 1 200px; /* Allow items to flex but have a base width of 200px */
  max-width: 200px;
  text-align: center;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: cover; /* Ensure the image covers the container without distortion */
}


